{% extends 'base.html' %}
{% load cms_tags sekizai_tags static %}

{% comment %} {% block title %}

{% endblock %} {% endcomment %}


{% block content %}

  {% addtoblock "css" %}<link rel="stylesheet" href="{% static 'core/css/content-box.css' %}">{% endaddtoblock %}
  {% addtoblock "css" %}<link rel="stylesheet" href="{% static 'core/css/image-box.css' %}">{% endaddtoblock %} 
  {% addtoblock "css" %}<link rel="stylesheet" href="{% static 'news/css/news.css' %}">{% endaddtoblock %} 
  {% addtoblock "css" %}<link rel="stylesheet" href="{% static 'core/css/taggit_labels.css' %}">{% endaddtoblock %} 

  {% addtoblock "js" %}<script  src="{% static 'core/scripts/isotope.min.js' %}"></script>{% endaddtoblock %}
  {% addtoblock "js" %}<script  src="{% static 'core/scripts/bootstrap/js/bootstrap.popover.min.js' %}"></script>{% endaddtoblock %}
  {% addtoblock "js" %}<script src="{% static 'news/js/news.js' %}"></script>{% endaddtoblock %} 

  {% if ADMIN_MODE %}
    {% addtoblock "js" %}<script src="{% static 'news/js/news-admin.js' %}"></script>{% endaddtoblock %} 
  {% endif %}

  {% static_placeholder '[news] top' %}

  {% comment %} {% include 'core/breadcrumbs.html' %} {% endcomment %}

  <section class="news-container">
    <div class="container">
      {% block app_content %}
      {% endblock %}
    </div>
  </section>

  {% static_placeholder "[news] bottom" %}

{% endblock %}
