{% load cms_tags sekizai_tags thumbnail static %}

{% addtoblock "css" %}<link rel="stylesheet" href="{% static 'core/css/content-box.css' %}">{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" href="{% static 'core/css/image-box.css' %}">{% endaddtoblock %} 

<div class="news-container">

  {% if user.is_authenticated and object_list %}
  <div class="row d-flex justify-content-end pb-4 pe-3">
    {% render_model_add object_list.0 %}
  </div>
  {% endif %}

  <div class="row">
    {% for obj in object_list %}

      {% if forloop.counter <= 2 %}
      <div class="col-md-4 col-sm-6">
      {% render_model_block obj %}
      {% include 'news/includes/post_item.html' %}
      {% endrender_model_block %}
      </div>

        {% if forloop.counter == 2 %}
          <div class="col-md-4 col-sm-12">
            <hr class="space visible-sm" />
            <div>
        {% endif %}

      {% else %}

        {% render_model_block obj %}
        <div class="advs-box advs-box-side-icon">
            <div class="caption-box">
                <h2 class="text-m"><a href="#">{{ obj.title }}</a></h2>
                <span class="extra-content">{{ obj.published_at }}</span>.
                <p>
                  {{ obj.text |safe|truncatechars_html:150 }}
                </p>
                <hr class="space xs" />
                <div class="text-right">
                    <a href="{{ obj.get_absolute_url }}" class="read-more btn-border">
                        <i class="fa fa-chevron-circle-right"></i> Читать
                    </a>
                </div>
            </div>
        </div>
        {% endrender_model_block %}
        <hr class="space s" />

        {% if forloop.last %}
            </div>
            {% comment %} <hr class="space m" /> {% endcomment %}
            <a href="{% url 'news:index' %}" class="btn btn-lg w-100">Больше новостей</a>
          </div>
        {% endif %}

      {% endif %}

    {% empty %}
      <p> Записей не найдено.</p>
    {% endfor %}

  </div>
</div>