{% extends 'news/base.html' %}
{% load cms_tags sekizai_tags thumbnail static %}

{% block app_content %}

  {% if user.is_authenticated and object_list %}
  <div class="row d-flex justify-content-end pb-4 pe-3" style="height:50px;">
    {% render_model_add object_list.0 %}
  </div>
  {% endif %}

  <div class="row pb-5">
    <div class="col-md-3 col-sm-12">
        {% include './includes/filter.html' %}
    </div>
    <div class="col-md-9 col-sm-12">

        <div class="maso-list">
            <div class="maso-box row">
                {% for obj in object_list %}
                <div class="maso-item col-lg-4 col-md-6">
                    {% render_model_block obj %}
                        {% include 'news/includes/post_item.html' %}
                    {% endrender_model_block %}
                </div>
                {% empty %}
                <p> По заданным критериям ничего не найдено.</p>
                {% endfor %}
            </div>
        </div>
        <div class="clear"></div>
        {% include './includes/pagination.html' %}
    </div>
  </div>

{% endblock %}