{% load static cms_tags sekizai_tags thumbnail %}

{% addtoblock "css" %}
<style>
  #section-{{id}}{
  {% if background_image %}
    {% if instance.thumb_width and instance.thumb_height %}
      background-image: url({% thumbnail instance.background_image instance.get_width_height_thumb upscale crop %});
    {% else %}
      background-image: url({{ instance.background_image.url }});
    {% endif %}

    {% if instance.use_parallax %}background-attachment: fixed;{% endif %}
  {% else %}
    background-color: {{background_color}};
  {% endif %}
  }
  {% if instance.use_overlay %}
  #section-{{id}} > .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: {{instance.overlay_color}};
    opacity: {{instance.overlay_opacity}};
  }
  {% endif %}
</style>
{% endaddtoblock %}


{% if instance.use_parallax and instance.background_image %}

{% comment %} {% addtoblock "js" %}<script src="{% static 'background_section/js/jquery.min.js' %}"></script>{% endaddtoblock %} {% endcomment %}
  {% addtoblock "js" %}<script src="{% static 'background_section/js/jquery.stellar.min.js' %}"></script>{% endaddtoblock %}
  {% addtoblock "js" %}
  <script type="text/javascript">
    $(document).ready(function(){
        $.stellar({
          responsive: true,
          parallaxBackgrounds: true,
          parallaxElements: true,
          horizontalScrolling: false,
          hideDistantElements: false,
          scrollProperty: 'scroll'
        });
    });
  </script>
  {% endaddtoblock %}

{% endif %}

<section 
  id="section-{{id}}" 
  class="ftco-section img {% if instance.css_classes %} {{instance.css_classes}} {% endif %}" 
  {% comment %} {% if instance.use_parallax %}data-stellar-background-ratio="0.5"{% endif %} {% endcomment %}
  >
  {% if instance.use_overlay %}
  <div class="overlay"></div>
  {% endif %}

  <div class="container">

    <div class="row justify-content-center pb-5">
      <div class="col-md-8 text-center heading-section ftco-animate">
        {% if instance.title %}
        <h2 class="mb-4"><span>{{instance.title}}</span></h2>
        {% endif %}
        {% if instance.text %}
        <p>{{instance.text|safe}}</p>
        {% endif %}
      </div>
    </div>

    {% for plugin in instance.child_plugin_instances %}
        {% render_plugin plugin %}
    {% endfor %}

    {% if instance.text_bottom %}
    <div class="row justify-content-center ">
      <div class="col-md-12 text-center heading-section ftco-animate">
        <p>{{instance.text_bottom|safe}}</p>
      </div>
    </div>
    {% endif %}
  </div>
</section>