.catalog-item {
    // box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    border: 0 solid #eee;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;

    &.img_left {
        & > div {
            background-color: #fff !important;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.10) !important;
            border: 1px solid #eee !important;
        }
    }
    &.img_full {
        & > div {
            // background-color: #fff!important;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.10) !important;
            // border: 1px solid #eee !important;
        }
    }

    .element-image {
        padding: 5px !important;
        img {
            margin-top: 0 !important;
            height: 100%;
        }
    }
    .element-body {
        padding-top: 10px !important;
    }
}