<p>
    {% if attraction.category %}
        <span class="border p-1">{{ attraction.category }}</span>
    {% endif %}

    <span class="border p-1 me-1">
    {% if attraction.season == 'summer' %}
        Летний сезон
    {% elif attraction.season == 'winter' %}
        Зимний сезон
    {% endif %}
    </span>
</p>
<p class="subheading">
    <span>Цена:</span> 
    {% if attraction.price == attraction.price_kid %}
        {{ attraction.price }} руб/билет
    {% else %}
        дети - {{attraction.price_kid}} руб./билет, взрослые - {{attraction.price}} руб./билет
    {% endif %}
</p>
<p class="subheading">
    <span>Время проката:</span> {% if attraction.rental_time %}{{ attraction.rental_time |floatformat }} минут(ы){% else %}не ограничено{% endif %}
</p>
{% if attraction.restrictions %}
<p><span><u>Ограничения:</u></span></p><p class="lh-sm"> {{ attraction.restrictions }}</p>
{% endif %}