{% extends 'base.html' %}
{% load core_tags %}

{% block content %}
  <section class="search-container">
    <div class="container">
        <div class="title-base text-left">
            <hr>
            <h1>Результаты поиска</h1>
        </div>
        <div class="row">
            {% for result in page.object_list %}
            {{ result.object|get_type}}
            {{ result.model_name }} <a href="{{result.object.get_absolute_url }}">{{ result.object.get_title}}</a>
            {% empty %}
            No results found.</tr>
            {% endfor %}
            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        </div>
    </div>
  </section>

{% endblock %}