{% regroup object_list by day|date:"d E Y" as grouped_list %}

<div>
    {% for group in grouped_list %}

        <div class="title-modern text-center">
            {% if LAYOUT == "NORMAL" %}
                <h2>{{ group.grouper }}</h2>
            {% elif LAYOUT == "SMALL" %}
                <h3>{{ group.grouper }}</h3>
            {% endif %}
            <hr>
        </div>

        {% for object in group.list %}
            {% include 'events/includes/event_item.html' %}
        {% endfor %}

        <hr class="space m">

    {% empty %}

        {% if date %}
        <div class="title-modern text-center">
            <h2>{{ date|date:"d E Y" }}</h2>
            <hr>
        </div>
        {% endif %}
        Запланированных мероприятий пока нет.

    {% endfor %}
</div>