{% extends 'medialer/base.html' %}
{% load sekizai_tags thumbnail static core_tags %}

{% block app_content %}
  <div class="text-right">
    {% comment %} <div class="btn-group social-group">
                          <a target="_blank" href="#" data-social="share-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook text-s"></i></a>
                          <a target="_blank" href="#" data-social="share-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter text-s"></i></a>
                          <a target="_blank" href="#" data-social="share-google" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google+"><i class="fa fa-google-plus text-s"></i></a>
                          <a target="_blank" href="#" data-social="share-linkedin" data-toggle="tooltip" data-placement="top" title="" data-original-title="LinkedIn"><i class="fa fa-linkedin text-s"></i></a>
                      </div>
      <div class="btn-group social-group">
        <a target="_blank" href="#" title="Поделиться" onclick="Share.vkontakte(
            '/media/albums/4',
            '300 лет Кузбассу',
            '/media/filer_public_thumbnails/filer_public/6a/2e/6a2e5368-0707-43c4-83c9-a88e763ba01d/1662063866_30-oir-mobi-p-abstraktsiya-fon-sport-vkontakte-33.jpg__360x240_q85_crop_subsampling-2_upscale.jpg',
            'None')">
          <i class="fa fa-vk"></i>
        </a>
      </div> {% endcomment %}
      {% render_share_buttons url=object.get_absolute_url title=object.title image_src=object.cover_image_src description=object.description %}
      {% comment %} {% render_share_buttons 'pohui' 'nahui' style='list' %} {% endcomment %}
    </div>
  <div class="grid-list gallery">
    <div class="grid-box row">
      <div class="row">
    {% for instance in object_list %}
      <div class="col-md-3">
        <a class="img-box thumbnail" 
          href="{{ instance.img_src }}"
          data-options="mainClass:inner" 
          title="This is the text caption of image" 
          data-lightbox-anima="show-scale"
        >
          <span>
            <img class="anima" 
              src="{% if instance.external_picture %}
                    {{instance.img_src}}
                  {% elif instance.picture %}
                    {% thumbnail instance.picture 300x200 upscale crop %}
                  {% endif %}"
              alt="{% if instance.attributes.alt %}
                      {{ instance.attributes.alt }}
                  {% elif instance.picture.default_alt_text %}
                    {{ instance.picture.default_alt_text }}
                  {% endif %}"
            >
            {% comment %} <img class="anima" src="{{ instance.img_src }}" alt="" /> {% endcomment %}
            {% comment %} <a class="img-box thumbnail mfp-iframe" href="https://www.youtube.com/watch?v=bpqhStV2_rc">
                <span><img src="http://www.framework-y.com/images/thumb-wide.png"></span>
            </a> {% endcomment %}
          </span>
        </a>
      </div>
    {% empty %}
    <p>В альбоме пока ничего нет.</p>
    {% endfor %}
      </div>
    </div>
  </div>
  <div class="clear"></div>
  {% include 'core/includes/pagination.html' %}


{% endblock %}