{% extends './base.html' %}
{% load sekizai_tags thumbnail static %}

{% block app_content %}

<div class="row pb-5">
  <div id="media-sidebar" class="col-md-3 col-sm-12">
      {% include './includes/media_list_filter.html' %}
  </div>
  <div id="media-content" class="col-md-9 col-sm-12">
    <div class="media-list-controls">
    </div>
    <hr class="space m" />

    <div class="maso-list gallery">
        <div class="maso-box row">
            {% for instance in object_list %}
            <div class="maso-item col-lg-4 col-md-6">
              {% include './includes/media_list_item.html' %}
            </div>
            {% empty %}
            <p>Ничего не найдено.</p>
            {% endfor %}
        </div>
    </div>
    <div class="clear"></div>
    {% include 'core/includes/pagination.html' %}
  </div>
</div>

  

{% endblock %}