{% extends 'medialer/base.html' %}
{% load sekizai_tags thumbnail static %}

{% block app_content %}
  <h1>Альбомы</h1>
  <hr class="space m">
  <div class="row">
    {% for album in albums %}
    <div class="col-lg-3 col-md-6">

      {% comment %} <div class="advs-box niche-box-team"> {% endcomment %}
      <div class="advs-box advs-box-top-icon-img boxed-inverse">
        {% if album.cover_image_src %}
        <a class="img-box img-scale-up" href="{% url 'medialer:album' album.id %}">
            <span>
              <img class="anima" src="{{ album.cover_image_src }}" alt="" 
              style="position: relative; 
                    transition-duration: 500ms; 
                    animation-duration: 500ms; 
                    transition-timing-function: ease; 
                    transition-delay: 0ms;" 
              aid="0.44475099686529684">
            </span>
        </a>
        {% endif %}
        <div class="advs-box-content">
            <a href="{% url 'medialer:album' album.id %}">
              <h3>{{ album.title }}</h3>
            </a>
            {% if album.description %}
            <p>{{ album.description }}</p>
            {% endif %}
            <hr class="e">
            <div class="btn-group social-group">
                <a target="_blank" href="#" 
                  title="Поделиться"
                  onclick="Share.vkontakte(
                    '{{ album.get_absolute_url }}',
                    '{{ album.title }}',
                    '{{ album.cover_image_src }}',
                    '{{ album.description }}')">
                  <i class="fa fa-vk"></i>
                </a>
                {% comment %} <a target="_blank" href="#" 
                  onclick="Share.facebook(
                    '{{ album.get_absolute_url }}',
                    '{{ album.title }}',
                    '/{% thumbnail album.cover_image 360x240 upscale crop %}',
                    '{{ album.description }}')">
                  <i class="fa fa-facebook"></i>
                </a> {% endcomment %}
                {% comment %} <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a> {% endcomment %}
            </div>
        </div>
      </div>

    </div>
    {% comment %} <div class="advs-box advs-box-top-icon-img boxed-inverse">
        <a class="img-box img-scale-up" href="#">
            <span><img src="{% thumbnail album.cover_image 360x240 upscale crop %}" alt=""></span>
        </a>
        <div class="advs-box-content">
            <h3>{{ album.title }}</h3>
            <p>
              {{ album.description }}
            </p>
        </div>
    </div> {% endcomment %}
    {% empty %}
    <p>Альбомов пока нет.</p>
    {% endfor %}
  </div>

  <hr class="space m">
  <h1>Несортированные фотографии</h1>
  <hr class="space m">

  <div class="grid-list gallery">
    <div class="grid-box row">
      <div class="row">
        {% for instance in non_cat_pictures %}
          <div class="col-md-3">
            <a class="img-box thumbnail" 
              href="{{ instance.img_src }}"
              data-options="mainClass:inner" 
              title="This is the text caption of image" 
              data-lightbox-anima="show-scale"
            >
              <span>
                <img class="anima" 
                  src="{% if instance.external_picture %}
                        {{instance.img_src}}
                      {% elif instance.picture %}
                        {% thumbnail instance.picture 300x200 upscale crop %}
                      {% endif %}"
                  alt="{% if instance.attributes.alt %}
                          {{ instance.attributes.alt }}
                      {% elif instance.picture.default_alt_text %}
                        {{ instance.picture.default_alt_text }}
                      {% endif %}"
                >
                {% comment %} <img class="anima" src="{{ instance.img_src }}" alt="" /> {% endcomment %}
                {% comment %} <a class="img-box thumbnail mfp-iframe" href="https://www.youtube.com/watch?v=bpqhStV2_rc">
                    <span><img src="http://www.framework-y.com/images/thumb-wide.png"></span>
                </a> {% endcomment %}
              </span>
            </a>
          </div>
        {% empty %}
        <p>Ничего не найдено.</p>
        {% endfor %}
      </div>
    </div>
  </div>


  <hr class="space m">
  <h1>Последние фотоматериалы</h1>
  <hr class="space m">

  <div class="grid-list gallery">
    <div class="grid-box row">
      <div class="row">
        {% for instance in latest_pictures %}
          <div class="col-md-3">
            <a class="img-box thumbnail" 
              href="{{ instance.img_src }}"
              data-options="mainClass:inner" 
              title="This is the text caption of image" 
              data-lightbox-anima="show-scale"
            >
              <span>
                <img class="anima" 
                  src="{% if instance.external_picture %}
                        {{instance.img_src}}
                      {% elif instance.picture %}
                        {% thumbnail instance.picture 300x200 upscale crop %}
                      {% endif %}"
                  alt="{% if instance.attributes.alt %}
                          {{ instance.attributes.alt }}
                      {% elif instance.picture.default_alt_text %}
                        {{ instance.picture.default_alt_text }}
                      {% endif %}"
                >
                {% comment %} <img class="anima" src="{{ instance.img_src }}" alt="" /> {% endcomment %}
                {% comment %} <a class="img-box thumbnail mfp-iframe" href="https://www.youtube.com/watch?v=bpqhStV2_rc">
                    <span><img src="http://www.framework-y.com/images/thumb-wide.png"></span>
                </a> {% endcomment %}
              </span>
            </a>
          </div>
        {% empty %}
        <p>Ничего не найдено.</p>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}