{% load sekizai_tags static %}

{% if 'activity' in request.GET %}
<div class="collapse-box" data-height="100">
    <div class="panel">
{% endif %}
        <form action="" id="department-filter" method="get" autocomplete="off">
            <div class="activities list-items">

                    <p class="list-group-item active">Выберите вид спорта</p>
                
                    <div class="grid-list gallery">
                        <div class="grid-box row">
                        {% for choice in filter.form.activity %}
                            <div class="grid-item col-md-2">

                                {{choice.tag}}
                                <label for="{{ choice.id_for_label }}">
                                    
                                    {% if forloop.first %}
                                    {% comment %} <div class="not-set {% if choice.data.selected %}active{% endif %}"> {% endcomment %}
                                    <div class="not-set">
                                        <i class="fa fa-filter icon text-l"></i>
                                        <h4>{{ choice.choice_label|safe }}</h4>
                                    </div>
                                    {% else %}
                                    <div class="img-box adv-circle circle adv-circle-center white 
                                                {% if choice.data.selected %}active{% endif %}"
                                    >
                                        <img src="{{ choice.data.value.instance.thumb_src}}" alt="" />
                                        <div class="caption">
                                            {% comment %} <h2>{{ choice.choice_label|safe }}</h2> {% endcomment %}
                                        </div>
                                    </div>
                                    {% endif %}


                                </label>
                            </div>
                            {% cycle '' '' '' '' '' '<div class="clear"></div>' %}
                        {% endfor %}
                        </div>
                    </div>
            </div>
        </form>

{% if 'activity' in request.GET %}
    </div>
    <div class="text-center">
        <a class="collapse-button" data-button-open-text="Hide all" data-button-close-text="Show all">
            <b>Развернуть</b> <span class="caret"></span>
        </a>
    </div>
</div>
{% endif %}