<div class="structure-item">
    <div class="advs-box advs-box advs-box-side-icon boxed-inverse" data-anima="fade-left" data-trigger="hover">
        <div class="row">
            <div class="col-md-2">
                <div class="img-box"><img src="../../../images/gallery/image-2.jpg" alt="" style="max-width: 299px; width: 299px; margin-left: -66px;"></div>
            </div>
            <div class="col-md-10">
                <h3>{{ object.name }}</h3>
                <hr class="anima" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" aid="0.8688934369803698">
                <p>
                    Quis nonummy wisi taciti Dictumst sapiente aliquet elementum eveniet loremi. Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                    Utenim ad minim veniam quis nostrud exercitation ullamco.
                </p>
                <a class="btn btn-xs" href="#">Read more</a>
            </div>
        </div>
    </div>
</div>