 .structure-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
 .structure-item {
  padding: 20px 0;
  margin: -20px 0;
  color: #4C4C4C;
  font-weight: 100;
}
 .structure-item .advs-box {
  padding: 25px ;
  box-shadow: 2px 2px 3px #eee;
}
 .apparat-item {
  margin-bottom: 10px;
}
 .apparat-item .advs-box {
  padding: 20px;
}
 .apparat-item .photo i {
  position: relative !important;
  font-size: 44px;
}
 .otdel {
  margin-bottom: 10px;
}
 .otdel .advs-box {
  padding: 20px;
}
 .accordion-list.otdel-list .list-group-item {
  line-height: 5rem;
}
 .accordion-list.otdel-list .list-group-item a::before{
  top: 3.2rem;
  border-color: var(--main-color);
}
.sotrudnik-list .grid-item .advs-box {
  margin-top: 0 !important;
}