{% extends 'contact/form.html' %}
{% load cms_tags sekizai_tags static i18n %}

{% block form_content %}
    {% with wizard.form as form %}

    <hr class="space m">
    <div class="row">
        <div class="col-md-12">
            {{ form.agree }}
            <span class="checkbox-label">{{ form.agree.label_tag }}</span>
                {% comment %} <label for="{{ form.message.id_for_label }}">Your message:</label> {% endcomment %}
            {% comment %} <input id="name" name="name" placeholder="name" type="text" class="form-control form-value" required> {% endcomment %}
        </div>
    </div>
    <hr class="space m">
    {% endwith %}
{% endblock %}

{% block form_bottom %}
    {% if wizard.steps.prev %}
    {% comment %} <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% translate "first step" %}</button> {% endcomment %}
    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% translate "prev step" %}</button>
    {% endif %}
    <input type="submit" value="Далее" class="btn btn-lg w-100"/>
{% endblock %}