{% load i18n cms_tags %}

{% if instance.embed_link %}
    {# show iframe if embed_link is provided #}
    <iframe src="{{ instance.embed_link_with_parameters }}" {{ instance.attributes_str }} 
        width={% if instance.width%}{{instance.width}}{% else %}100%{% endif %} height={{ instance.height }} 
        frameborder="0" allowfullscreen="true"
    ></iframe>
    {% with disabled=instance.embed_link %}
        {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %}
    {% endwith %}
{% elif instance.source_file %}
    {# render <source> or <track> plugins #}
    <video controls {{ instance.attributes_str }}
        width={% if instance.width%}{{instance.width}}{% else %}100%{% endif %} {% comment %}height={{ instance.height }}{% endcomment %}
        {% if instance.poster %} poster="{{ instance.poster.url }}"{% endif %}>
        {% comment %} {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %} {% endcomment %}
        {% with instance.source_file.extension as ext %}
            <source src="{{ instance.source_file.url }}" type="video/{{ ext }}" {{ instance.attributes_str }}>
        {% endwith %}

        {% trans "Your browser doesn't support this video format." %}
    </video>
{% endif %}

{% comment %}
    # Available variables:
    {{ instance.template }}
    {{ instance.label }}
    {{ instance.embed_link }}
    {{ instance.poster }}
    {{ instance.attributes_str }}
{% endcomment %}
