{% extends 'structure/base.html' %}
{% load cms_tags core_tags sekizai_tags static structure_tags %}


{% block app_content %}

{% addtoblock "js" %}<script async  src="{% static 'core/scripts/jquery.tab-accordion.js' %}"></script>{% endaddtoblock %}

<div class="text-right">
  {% render_share_buttons url=object.get_absolute_url title=object.name image_src=object.logo_thumb_src description=object.short_description|striptags|truncatechars_html:150 %}
</div>

<div class="row">
<div class="col-md-4 text-center">
    {% if object.logo %}
    <div class="img-box">
      <img src="{{ object.logo_thumb_src }}" alt="">
    </div>
    {% endif %}
  </div>
  <div class="col-md-8">
    {% if object.short_description %}
    <p>{{ object.short_description }}</p>
    <hr class="space m">
    {% endif %}
    <ul class="list-texts list-texts-justified text-left">
      {% if object.phone %}
      <li><b>Телефон приемной: </b><i class="fa fa-phone"></i> {{ object.phone }}</li>
      {% endif %}
      {% if object.email %}
      <li><b>Электронная почта: </b><i class="fa fa-envelope-open-o"></i> {{ object.email }}</li>
      {% endif %}
      {% if object.address %}
      <li><b>Адрес: </b><span><i class="fa fa-map-marker"></i> {{ object.address }}</span></li>
      {% endif %}
      {% if object.site %}
      <li><b>Сайт: </b><a href="{{ object.site }}" target="_blank">{{ object.site }} <i class="fa fa-external-link "></i></a></li>
      {% endif %}
      {% if object.shedule %}
      <li><b>График работы: </b><i class="fa fa-calendar"></i> {{ object.shedule }}</li>
      {% endif %}
    </ul>
  </div>
</div>
<hr class="space m">
{{ object.description | safe }}
<hr class="space m">

<div class="row">
  <div class="col-md-6">
    <div class="title-modern st-icon text-left">
      <h3>Аппарат управления</h3>
      <hr>
    </div>
    <div class="row">
      {% for sotrudnik in object.apparat %}
        <div class="col-md-12">
          {% render_model_block sotrudnik %}
          <div class="apparat-item">
              <div class="advs-box advs-box advs-box-side-icon boxed-inverse">
                  <div class="row">
                      <div class="col-xs-2">
                          <div class="photo img-box">
                              {% if sotrudnik.photo %}
                              <img src="{{ sotrudnik.photo_thumb_src }}" alt="">
                              {% else %}
                              <i class="fa fa-user-o"></i>
                              {% endif %}
                          </div>
                      </div>
                      <div class="col-xs-10">
                          {% comment %} <h3><a href="{% url 'structure:org-detail' object.id %}">{{ object.name }}</a></h3> {% endcomment %}
                          <h4><a href="#">{{ sotrudnik.name }}</a></h4>
                          <hr>
                          <p>{{ sotrudnik.position }}</p>
                          {% for phone in sotrudnik.phones %}
                            <div><span><i class="fa fa-phone"></i> {{ phone.number }}</span></div>
                          {% endfor %}
                      </div>
                  </div>
              </div>
          </div>
          {% endrender_model_block %}
        </div>
      {% empty %}
      Сведений по аппарату пока нет.
      {% endfor %}
    </div>
  </div>
  <div class="col-md-6">
    <div class="title-modern st-icon text-left">
      <h3>Отделы</h3>
      <hr>
    </div>
    {% comment %} <div class="row">
      {% for object in object.get_otdels %}
        <div class="col-md-12">

          <div class="apparat-item">
              <div class="advs-box advs-box advs-box-side-icon boxed-inverse">
                <h4><a href="#">{{ object.name }}</a></h4>
              </div>
          </div>

        </div>
      {% endfor %}
    </div> {% endcomment %}



    <div class="list-group accordion-list" data-type="visible" data-time="200">
      {% for object in object.get_otdels %}
      <div class="list-group-item">
        {% render_model_block object %}
        <a href="#" class="">
          <div class="row">
            <div class="col-xs-8">
              {{ object.name }}
            </div>
            <div class="col-xs-4">
              <div class="text-right">
                {% for phone in object.phones %}
                  <div><span><i class="fa fa-phone"></i> {{ phone.number }}</span></div>
                {% endfor %}
              </div>
            </div>
          </div>
        </a>
        {% endrender_model_block %}
        <div class="panel" style="display: none;">
          <div class="inner">

            <div class="list-items text-left">
              {% for sotrudnik in object.get_employees %}
              {% render_model_block sotrudnik %}
              <div class="list-item">
                <div class="row">
                  <div class="col-md-8">
                      <h3>{{ sotrudnik.name }}</h3>
                      <p>{{ sotrudnik.position }}</p>
                  </div>
                  <div class="col-md-4">
                    {% for phone in sotrudnik.phones %}
                      <div><span><i class="fa fa-phone"></i> {{ phone.number }}</span></div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% endrender_model_block %}
              {% empty %}
                Сведений по сотрудникам пока нет.
              {% endfor %}
            </div>

          </div>
        </div>
      </div>
      {% empty %}
      Сведений по отделам пока нет.
      {% endfor %}
    </div>

  </div>
</div>


{% endblock app_content %}