{% extends 'structure/base.html' %}
{% load cms_tags core_tags sekizai_tags static structure_tags %}


{% block app_content %}

  {% addtoblock "js" %}<script async  src="{% static 'core/scripts/jquery.tab-accordion.js' %}"></script>{% endaddtoblock %}


  <div class="text-right">
    {% render_share_buttons url=object.get_absolute_url title=object.name image_src=object.logo_thumb_src description=object.short_description|striptags|truncatechars_html:150 %}
  </div>

  <hr class="space m">

  {% render_placeholder object.content 640 %}

{% endblock app_content %}