{% extends 'attractions/base.html' %}
{% load cms_tags sekizai_tags thumbnail static %}

{% block attractions_content %}
{% render_placeholder object.placeholder_top %}

  {% if user.is_authenticated and object_list %}
  <div class="row d-flex justify-content-end pb-4 pe-3">
    {% render_model_add object_list.0 %}
  </div>
  {% endif %}

  {% include 'attractions/includes/filter.html' %}

  <div class="row mt-3">
    {% for attraction in object_list %}
      <div class="col-sm-12 col-lg-6 catalog-item d-flex ftco-animate">

        {% render_model_block attraction %}

          {% spaceless %}
          <div id="attraction-gallery-{{attraction.id}}" class="light-gallery-plugin img {% if not attraction.main_photo %}no-photo{% endif %}">
              <a href="{{ attraction.main_photo.url }}" class="d-block w-100">
                  {% comment %} <div class="img h-100" style="background-image: url({{attraction.main_photo.url}});"></div> {% endcomment %}
                  {% if attraction.main_photo %}
                  <img class="img-fluid" src="{% thumbnail attraction.main_photo "270x312" upscale crop %}">
                  {% endif %}
              </a>
              {% for photo in attraction.get_photos %}
                  <a href="{{ photo.image.url }}">
                      <img src="{% thumbnail photo.image "90x90" upscale crop %}" />
                  </a>
              {% endfor %}
          </div>
          {% endspaceless %}

          <div class="text bg-light p-4">
            <h3><a href="{% url 'attractions:detail' attraction.id %}">{{ attraction.title }}</a></h3>

            {% include 'attractions/includes/attraction_properties.html' %}
          </div>

        {% endrender_model_block %}

      </div>
            {% addtoblock "js" %}
            <script type="text/javascript">
            window.addEventListener('load', function() {
                $("#attraction-gallery-{{attraction.id}}").lightGallery({
                mode: "lg-slide",
                speed: 500,
                //height: "{{ height }}",
                //width: "{{ width }}",
                //addClass: "{{ addClass }}",
                //startClass: "{{ startClass }}",
                //backdropDuration: {{ backdropDuration }},
                //hideBarsDelay: {{ hideBarsDelay }},
                //useLeft: {{ useLeft|lower }},
                //closable: {{ closable|lower }},
                //loop: {{ loop|lower }},
                //escKey: {{ escKey|lower }},
                //keyPress: {{ keyPress|lower }},
                //controls: {{ controls|lower }},
                //slideEndAnimation: {{ slideEndAnimation|lower }},
                //hideControlOnEnd: {{ hideControlOnEnd|lower }},
                //mousewheel: {{ mousewheel|lower }},
                //preload: {{ preload }},
                //showAfterLoad: {{ showAfterLoad|lower }},
                //nextHtml: "{{ nextHtml }}",
                //prevHtml: "{{ prevHtml }}",
                //index: {{ index }},
                //iframeMaxWidth: "{{ iframeMaxWidth }}",
                //download: {{ download|lower }},
                //counter: {{ counter|lower }},
                //appendCounterTo: "{{ appendCounterTo }}",
                //swipeThreshold: {{ swipeThreshold }},
                //enableDrag: {{ enableDrag|lower }},
                //enableSwipe: {{ enableSwipe|lower }},
                //{% if thumbnails %}
                //thumbnail: {{ thumbnails|lower }},
                //anaimateThumb: {{ animateThumb|lower }},
                //currentPagerPosition: "{{ currentPagerPosition }}",
                //thumbWidth: {{ thumbWidth }},
                //thumbContHeight: {{ thumbContHeight }},
                //thumbMargin: {{ thumbMargin }},
                //showThumbByDefault: {{ showThumbByDefault|lower }},
                //toogleThumb: {{ toggleThumb|lower }},
                //pullCaptionUp: {{ pullCaptionUp|lower }},
                //enableThumbDrag: {{ enableThumbDrag|lower }},
                //enableThumbSwipe: {{ enableThumbSwipe|lower }},
                //{% endif %}
                //{% if zoom %}
                //zoom: {{ zoom|lower }},
                //scale: {{ zoomScale }},
                //enableZoomAfter: {{ zoomEnableZoomAfter }},
                //actualSize: {{ zoomActualSize|lower }},
                //{% endif %}
                //{% if share %}
                //share: {{ share|lower }},
                //facebook: {{ facebook|lower }},
                //facebookDropdownText: "{{ facebookDropdownText }}",
                //twitter: {{ twitter|lower }},
                //twitterDropdownText: "{{ twitterDropdownText }}",
                //googlePlus: {{ googlePlus|lower }},
                //googlePlusDropdownText: "{{ googlePlusDropdownText }}",
                //pinterest: {{ pinterest|lower }},
                //pinterestDropdownText: "{{ pinterestDropdownText }}",
                //{% endif %}
                })//;
            });
            </script>
            {% endaddtoblock %}
    {% empty %}
    <div class="alert alert-info" role="alert">
      По заданным критериям фильтра ничего не найдено.
    </div>
    {% endfor %}
  </div>


{% endblock %}