{% load cms_tags sekizai_tags thumbnail static %}

  {% if user.is_authenticated and object_list %}
  <div class="row d-flex justify-content-end pb-4 pe-3">
    {% render_model_add object_list .0 %}
  </div>
  {% endif %}

  <div class="row">
    {% for attraction in attraction_list %}
      <div class="col-sm-12 col-lg-6 catalog-item d-flex ftco-animate">

        {% comment %} <div class="img " style="background-image: url({{attraction.main_photo.url}});"></div> {% endcomment %}
        <div class="img " style="background-image: url({% thumbnail attraction.main_photo "270x312" upscale crop %});"></div>

        <div class="text bg-light p-4">
          <h3><a href="{% url 'attractions:detail' attraction.id %}">{{ attraction.title }}</a></h3>
        
          {% include 'attractions/includes/attraction_properties.html' %}

        </div>
      </div>
    {% empty %}
      <div class="alert alert-info" role="alert">
        По заданным критериям ничего не найдено.
      </div>
    {% endfor %}
  </div>
  <div class="row">
  <div class="col">
    <a href="{% url 'attractions:index' %}?category={{ category_id }}&season={{ season }}" 
      class="btn btn-outline-primary btn-lg py-3 my-3 w-100"
      >
      Смотреть все
    </a>
  </div>
  </div>
