{% extends 'base.html' %}
{% load cms_tags sekizai_tags static %}

{% block content %}

  {% addtoblock "css" %}
  <link type="text/css" rel="stylesheet" href="{% static 'attractions/css/lightgallery.min.css'%}" />
  {% endaddtoblock %}
  {% addtoblock "css" %}
  <link type="text/css" rel="stylesheet" href="{% static 'attractions/css/lg-transitions.min.css'%}" />
  {% endaddtoblock %}
  {% addtoblock "css" %}
  <link type="text/css" rel="stylesheet" href="{% static 'attractions/css/lg-fb-comment-box.min.css'%}" />
  {% endaddtoblock %}

  {% addtoblock "js" %}
  <script defer type="text/javascript" src="{% static 'attractions/js/lightgallery.min.js' %}"></script>
  {% endaddtoblock %}
  {% addtoblock "js" %}
  <script defer type="text/javascript" src="{% static 'attractions/js/lg-thumbnail.min.js' %}"></script>
  {% endaddtoblock %}


  {% include 'core/breadcrumbs.html' %}

  <section class="ftco-section pt-4">
    <div class="container">
      {% block attractions_content %}
      {% endblock %}
    </div>
  </section>
{% endblock %}
