{% load static cms_tags menu_tags %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'core/images/breadcrumbs_bg.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center heading-section">
        <h2 class="mb-2">
            {% if page_title %}
                {{ page_title }}
            {% else %}
                {% page_attribute "page_title" %}
            {% endif %}
        </h2>
        <div class="breadcrumbs">
            {% comment %} <span class="mr-2">
                <a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a>
            </span> 
            <span>Courses <i class="ion-ios-arrow-forward"></i>
            </span> {% endcomment %}
            <ul class="list-inline">
            {% show_breadcrumb 0 'core/breadcrumb.html' 0 %}
            {% if added_breadcrumbs %}
                {% for bc in added_breadcrumbs %}
                <li class="list-inline-item">
                    <a href="{{ bc.url }}">{{ bc.title }}</a> 
                    {% if not forloop.last %} 
                    <span class="separator">&raquo;</span>
                    {% endif %}
                </li>
                {% endfor %}
            {% endif %}
            </ul>

        </div>
        </div>
    </div>
    </div>
</section>