{% load static sekizai_tags %}

<div class="section-empty no-paddings">
    <div class="section-slider row-18">
        <div class="flexslider advanced-slider slider" data-options="animation:fade">
            <ul class="slides">
                <li data-slider-anima="fade-left" data-time="1000">
                    <div class="section-slide">
                        <div class="bg-cover" style="background-image:url('{% static 'core/template-images/bg-5.jpg' %}')">
                        </div>
                        <div class="container">
                            <img class="pos-slider pos-bottom pos-right anima anima-fade-bottom hidden-xs" src="{% static 'core/template-images/mk-1.png' %}" alt="" />
                            <div class="container-middle">
                                <div class="container-inner text-left">
                                    <hr class="space m visible-sm" />
                                    <div class="row">
                                        <div class="col-md-6 anima">
                                            <h1 class="text-l text-normal text-m-xs">Architecture is a visual art and the buildings speak for themselves</h1>
                                            <p class="text-s-xs">
                                                I enjoy art and museums but also churches, anything that gives me insight into the history and soul of the place I'm in.
                                                I can also be a beach bum - I like to laze in the shade of a palm tree with a good book or float in a warm sea at sundown.
                                            </p>
                                            <hr class="space s" />
                                            <a href="#" class="btn btn-lg"><i class="fa fa-gears"></i> Services</a><span class="space"></span>
                                            <a href="#" class="btn btn-lg btn-border"><i class="fa fa-folder-open"></i> Projects</a>
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                    </div>
                                    <hr class="space visible-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-slider-anima="fade-left" data-time="1000">
                    <div class="section-slide">
                        <div class="bg-cover" style="background-image:url('{% static 'core/template-images/bg-5.jpg' %}')">
                        </div>
                        <div class="container">
                            <img class="pos-slider pos-bottom pos-right anima anima-fade-bottom hidden-xs" src="{% static 'core/template-images/mk-1.png' %}" alt="" />
                            <div class="container-middle">
                                <div class="container-inner text-left">
                                    <hr class="space m visible-sm" />
                                    <div class="row">
                                        <div class="col-md-6 anima">
                                            <h1 class="text-l text-normal text-m-xs">Architecture is a visual art and the buildings speak for themselves</h1>
                                            <p class="text-s-xs">
                                                I enjoy art and museums but also churches, anything that gives me insight into the history and soul of the place I'm in.
                                                I can also be a beach bum - I like to laze in the shade of a palm tree with a good book or float in a warm sea at sundown.
                                            </p>
                                            <hr class="space s" />
                                            <a href="#" class="btn btn-lg"><i class="fa fa-gears"></i> Services</a><span class="space"></span>
                                            <a href="#" class="btn btn-lg btn-border"><i class="fa fa-folder-open"></i> Projects</a>
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                    </div>
                                    <hr class="space visible-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-slider-anima="fade-left" data-time="1000">
                    <div class="section-slide">
                        <div class="bg-cover" style="background-image:url('{% static 'core/template-images/bg-5.jpg' %}')">
                        </div>
                        <div class="container">
                            <img class="pos-slider pos-bottom pos-right anima anima-fade-bottom hidden-xs" src="{% static 'core/template-images/mk-1.png' %}" alt="" />
                            <div class="container-middle">
                                <div class="container-inner text-left">
                                    <hr class="space m visible-sm" />
                                    <div class="row">
                                        <div class="col-md-6 anima">
                                            <h1 class="text-l text-normal text-m-xs">Architecture is a visual art and the buildings speak for themselves</h1>
                                            <p class="text-s-xs">
                                                I enjoy art and museums but also churches, anything that gives me insight into the history and soul of the place I'm in.
                                                I can also be a beach bum - I like to laze in the shade of a palm tree with a good book or float in a warm sea at sundown.
                                            </p>
                                            <hr class="space s" />
                                            <a href="#" class="btn btn-lg"><i class="fa fa-gears"></i> Services</a><span class="space"></span>
                                            <a href="#" class="btn btn-lg btn-border"><i class="fa fa-folder-open"></i> Projects</a>
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                    </div>
                                    <hr class="space visible-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="section-bg-image parallax-window" data-natural-height="850" data-natural-width="1980" data-parallax="scroll" data-image-src="{% static 'core/template-images/bg-3.jpg' %}">
    <div class="container content">
        <hr class="space m" />
        <div class="row">
            <div class="col-md-8" data-anfdima="fade-left" data-timeline="asc" data-time="1500">
                <h1 class="text-xl text-m-sm anima"><span class="text-color">Structures</span> exist at all levels of organization ranging hierarchically from the atomic</h1>
            </div>
        </div>
        <hr class="space" />
        <div class="row">
            <div class="col-md-4">
                <p class="anima text-m text-normal">
                    Structural biology is concerned with the biomolecular structure of macro molecules
                    particularly proteins and nucleic acids.
                </p>
            </div>
            <div class="col-md-4 pulfl-right">
                <p class="anima text-normal">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismodo.
                </p>
                <p class="anima text-normal">
                    Tancididunt, atque expedita, ultrices facilisis beatae! Praesentium, consectetuer error aut volutpat.
                    vehicula ut laoreet ac, aliquam sito.
                </p>
            </div>
        </div>
        <hr class="space m" />
    </div>
</div> 
