{% load static menu_tags %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
    <div class="container d-flex align-items-center">
        <a class="navbar-brand" href="/">
            <img src="{% static 'core/images/logo-64.png' %}" class="float-start me-2" height="55">
            Солнечный город<br><span><small class="text-muted fs-6">спортивно-развлекательный центр</small></span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav d-flex flex-wrap mb-2 mb-lg-0 ms-auto">
        {% show_menu 0 2 100 100 "core/menu.html" %}
        </ul>
    </div>
    </div>
</nav>