/* CUSTOM */

/* header {
    margin-bottom: -22px;
} */
ul.navbar-nav li a i {
    color: #979797;
}

ul.dropdown-menu:not(.side-menu.root-level) li a {
    min-width: 200px;
    white-space: unset;
    line-height: 14px;
    /* padding-left: 30px; */
    padding: 15px 20px;
}

ul.dropdown-menu:not(.side-menu.root-level) li.dropdown-submenu>a:after {
    /* float: unset; */
    /* margin-bottom: 2px; */
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -.5rem;
    margin-right: 1.2rem;
}

ul.dropdown-menu:not(.side-menu.root-level) a.nav-link.has-icon {
    padding-left: 35px;
}

ul.dropdown-menu:not(.side-menu.root-level) li a.has-icon i {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1rem;
    margin-left: 1rem;
}

/* МЕНЮ */
header ul.nav:not(.ms-rounded) li>a:before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0%;
    /* height: 2px; */
    height: 100%;
    background-color: #4d4d4d0a;
    transition: all 0.35s ease-out;
    -webkit-transition: all 0.35s ease-out;
}

ul.nav.root-level:not(.ms-rounded)>li.active>a::before,
ul.nav.root-level:not(.ms-rounded)>li:hover>a::before {
    height: 100%;
}

ul.nav.root-level:not(.ms-rounded)>li>a::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 0;
    /* height: 100%; */
    /* background-color: #4d4d4d0a; */
    /* transition: all 0.35s ease-out;
  -webkit-transition: all 0.35s ease-out; */
}

.flexslider.outer-navs a.flex-prev {
    width: 100px;
}

.flexslider.outer-navs a.flex-next {
    width: 100px;
}

.img-box.adv-img-side-content .caption {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
}

.img-box.adv-img-side-content .caption h3 {
    font-size: 21px;
}

section .heading-section {
    padding-bottom: 10px;
}
footer {
    margin-top: -22px !important;
}
@media (min-width: 1300px) {
    header .container {
        width: 1300px;
    }
}