/* CUSTOM */

.blackout {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  background: rgba(0,0,0,.5);
  z-index: 5;
  display: none;
}

/* header {
    margin-bottom: -22px;
} */
ul.navbar-nav li a i {
    color: #979797;
}

ul.dropdown-menu:not(.side-menu.root-level) li a {
    min-width: 200px;
    white-space: unset;
    line-height: 14px;
    /* padding-left: 30px; */
    padding: 15px 20px;
}

ul.dropdown-menu:not(.side-menu.root-level) li.dropdown-submenu>a:after {
    /* float: unset; */
    /* margin-bottom: 2px; */
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -.5rem;
    margin-right: 1.2rem;
}

ul.dropdown-menu:not(.side-menu.root-level) a.nav-link.has-icon {
    padding-left: 35px;
}

ul.dropdown-menu:not(.side-menu.root-level) li a.has-icon i {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1rem;
    margin-left: 1rem;
}

/* МЕНЮ */
.navbar-nav .nav-link,
.navbar-nav #more > a {
  font-size: 16px;
}
header ul.nav:not(.ms-rounded) li>a:before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0%;
    /* height: 2px; */
    height: 100%;
    background-color: #4d4d4d0a;
    transition: all 0.35s ease-out;
    -webkit-transition: all 0.35s ease-out;
}

ul.nav.root-level:not(.ms-rounded)>li.active>a::before,
ul.nav.root-level:not(.ms-rounded)>li:hover>a::before {
    height: 100%;
}
#main-menu {
  background: #fff;
}
ul.nav.root-level:not(.ms-rounded)>li>a::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 0;
    /* height: 100%; */
    /* background-color: #4d4d4d0a; */
    /* transition: all 0.35s ease-out;
  -webkit-transition: all 0.35s ease-out; */
}
.mega-menu .mega-dropdown-menu > .nav-item {
  max-width: 24%;
  display: inline-block;
  min-width: 24%;
}
.mega-dropdown-menu .nav-link {
    min-width: 200px;
    white-space: unset;
    line-height: 14px;
    padding-left: 30px;
    padding: 15px 20px;
}
.mega-dropdown-menu .nav-link::after {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -.5rem;
    margin-right: 1.2rem;
}
.mega-dropdown-menu .nav-link::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0%;
    height: 2px;
    height: 100%;
    background-color: #4d4d4d0a;
    transition: all 0.35s ease-out;
    -webkit-transition: all 0.35s ease-out;
}
.mega-menu {
    padding: 10px 5px;
    overflow: inherit !important;
}
.mega-menu a {
  height: inherit;
  margin-bottom: 0;
}
ul.mega-dropdown-menu ul.dropdown-menu {
  left: 0;
  top: 100%;
  width: 100%;
}
ul.mega-dropdown-menu .nav-item > a::after {
    transform: rotate(135deg) !important;
}
.navbar-nav > li > ul,
.navbar-nav > li > .mega-menu {
    display: flex !important;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: scaleY(0) translateZ(100px);
    transform: scaleY(0) translateZ(100px);
    -webkit-transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 700ms ease;
    transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 700ms ease;
    transition: opacity 500ms ease, visibility 500ms ease, transform 700ms ease;
    transition: opacity 500ms ease, visibility 500ms ease, transform 700ms ease, -webkit-transform 700ms ease;
}
.navbar-nav > li:hover > ul,
.navbar-nav > li.active:hover > ul,
.navbar-nav > li.open > ul,
.navbar-nav > li.open > .mega-menu,
.navbar-nav > li:hover > .mega-menu  {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleY(1) translateZ(0px);
    transform: scaleY(1) translateZ(0px);
}
@media (max-width: 994px){
    header .navbar-collapse {
    /* #main-menu { */
        /* height: 100vh; */
        max-height:  500px !important;
        /* min-height: 300px; */
        overflow: visible auto;
    }
    #main-menu li {
        /* text-align:center !important; */
        border-bottom: 1px solid #e3e3e3;
    }
    #main-menu > li.home {
        display: none;
    }
    #main-menu > li li {
        /* background: #eee; */
        margin-left: 20px;
    }
    #main-menu > li li li {
        /* background: #ddd; */
        margin-left: 40px;

    }
    ul.dropdown-menu:not(.side-menu.root-level) li {
        width: 100%;
    }
    .mega-menu .mega-dropdown-menu > .nav-item {
    max-width: 100%;
    display:block;
    /* min-width: 25%; */
    }
    .mega-menu-fullwidth .mega-dropdown {
        position: relative !important;
    }
    ul.mega-dropdown-menu .nav-item > a::after {
        display: none;
    }
    header .navbar-collapse {
        display: initial;
        position: absolute;
        width: 100%;
        background: #fff;
        opacity: 0;
        visibility: hidden;
        -webkit-transform-origin: top center;
        transform-origin: top center;
        -webkit-transform: scaleY(0) translateZ(100px);
        transform: scaleY(0) translateZ(100px);
        -webkit-transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 700ms ease;
        transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 700ms ease;
        transition: opacity 500ms ease, visibility 500ms ease, transform 700ms ease;
        transition: opacity 500ms ease, visibility 500ms ease, transform 700ms ease, -webkit-transform 700ms ease;
    }
    header .navbar-collapse.open {
        opacity: 1;
        visibility: visible;
        -webkit-transform: scaleY(1) translateZ(0px);
        transform: scaleY(1) translateZ(0px);
    }
}
.mobile-dropdown {
  position: absolute;
  right: 0;
  top: 0;
  height: 41px;
  width: 100px;
}

.flexslider.outer-navs a.flex-prev {
    /* 
    height: 100px;
    line-height: 60px;
    border: 1px solid #a4a4a4;
    border-radius: 50px;
    left: -50px !important; */
    /* width: 100px; */
    line-height: 200px;
    margin-top: -100px;
    border: 1px solid #ddd;
    margin-left: 5px;
}
.flexslider .flex-direction-nav li a.flex-prev::before {
  margin-left: 5px;
}
.flexslider.outer-navs a.flex-next {
    /* width: 100px; */
    line-height: 200px;
    margin-top: -10%;
    border: 1px solid #ddd;
    margin-right: 5px;
}
.flexslider .flex-direction-nav li a.flex-next::before {
  margin-left: -5px;
}

.img-box.adv-img-side-content .caption {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
}

.img-box.adv-img-side-content .caption h3 {
    font-size: 21px;
}

section .heading-section {
    padding-bottom: 10px;
}
footer {
    /* margin-top: -22px !important; */
    /* border-top: 2px dashed var(--main-color); */
    background: #fff;
}
@media (min-width: 1300px) {
    header .container {
        width: 1300px;
    }
}
.breadcrumbs .breadcrumb.b {
    text-align: left;
    margin-top:40px;
}
.header-base { 
    padding-bottom: 0;
}

@media (max-width: 1200px) {
    .navbar-mini .navbar-right {
        display: none;
    }
}

.news-container .advs-box-top-icon-img.boxed .advs-box-content, 
.news-container .advs-box-top-icon-img.boxed-inverse .advs-box-content {
    /* padding: 15px; */
    /* border: 1px solid #EEE6E6; */
    border: none;
    /* background: #fff; */
}
.news-container .advs-box .caption-box {
    padding: 15px;
    border: 1px solid #EEE6E6;
    /* background: #fff; */
}
.news-container .news-item .advs-box-content {
    padding: 30px 20px 20px 20px;
}
.news-container .read-more {
  padding: 5px 10px;
}
.niche-box-post .block-infos {
    width: 95%;
}
.flex-control-nav {
  position: relative;
  bottom: 0;
  margin-top: 20px;
}
.img-box::before {
    background: #fff;
}
.header-title::after {
  background: none;
}
.nav > li.dropdown > a {
  padding-right: 20px;
}
.align-left {
    float:left;
}
.align-right {
    float:right;
}
header .navbar-brand {
    padding-right: 0;
    margin-right: 0;
}
footer .navbar-brand-logo {
    max-height: 170px;
    margin-right: 40px;
}