{% load i18n sekizai_tags %}

    {% addtoblock "dynamic-js" %}<script src="https://api-maps.yandex.ru/2.1/?apikey={{ object.get_api_key }}&lang=ru_RU" type="text/javascript"></script>{% endaddtoblock %}
    {% addtoblock "dynamic-js" %}
    <script type="text/javascript">
        (function () {
            // save settings form plugin
            var container = 'yandex-map-{{ object.id }}';
            var latLng = {% if object.get_lat_lng %}{{ object.get_lat_lng }}{% else %}""{% endif %};
            var title = "{{ object.get_title }}";
            var address = "{{ object.full_address }}";
            var zoom = {{ object.get_zoom_level }};

            var map;
            ymaps.ready(init);

            function init() {
                if (latLng) {
                    // use specified lat lng 
                    initYandexMaps(latLng);
                } else {
                    // load latlng from given address
                    var myGeocoder = ymaps.geocode(address);
                    myGeocoder.then(
                            function (res) {
                                initYandexMaps(res.geoObjects.get(0).geometry.getCoordinates());
                            }
                    );
                }
            }

            // initialize yandex maps
            function initYandexMaps(latlng) {
                // initialize yandex map
                map = new ymaps.Map(container, {
                    center: latlng,
                    zoom: zoom
                });

                var myPlacemark = new ymaps.Placemark(latlng, {
                    iconContent :'{{ object.title }}',
                    hintContent: '{{ object.title }}',
                    balloonContent: '<div>\
                    <strong><h4>{{ object.title }}</h4></strong>{{ object.address }}<br/>{{ object.get_content | safe}}</div>'
                },{
                {% if object.title %}
                     preset: 'islands#blueStretchyIcon'
                {% else %}
                    preset: 'islands#blueIcon'
                {% endif %}
                });
                map.geoObjects.add(myPlacemark);
            }
        })();
    </script>
{% endaddtoblock %}

<div class="plugin_yandexmap">
    <div id="yandex-map-{{ object.id }}" class="yandex-map-container w-100" style="height: 400px"></div>
</div>