{% load static sekizai_tags cms_tags %}

{% comment %} {% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{% static 'infoblock/css/owl.carousel.min.css' %}">{% endaddtoblock %} {% endcomment %}
{% comment %} {% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{% static 'infoblock/css/owl.theme.default.min.css' %}">{% endaddtoblock %} {% endcomment %}
{% comment %} {% addtoblock "js" %}<script src="{% static 'infoblock/js/owl.carousel.min.js' %}"></script>{% endaddtoblock %} {% endcomment %}
{% comment %} {% addtoblock "js" %}
<script type="text/javascript">
    $(document).ready(function(){
    $("#owl-slider-{{ id }}").owlCarousel({
	    loop:true,
	    autoplay: true,
	    margin:0,
	    animateOut: 'fadeOut',
	    animateIn: 'fadeIn',
      touchDrag: true,
      mouseDrag: false,
	    nav:false,
	    autoplayHoverPause: false,
	    items: 1,
	    responsive:{
	      0:{
	        items:1
	      },
	      600:{
	        items:1
	      },
	      1000:{
	        items:1
	      }
	    }

    });
  });
</script>
{% endaddtoblock %} {% endcomment %}

{% comment %} <div id="owl-slider-{{ id }}" class="owl-carousel">
    {% for slide in slides %}
    <div class="slider-item" style="background-image:url({% thumbnail slide.image "1800x600" upscale crop %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col text-center ftco-animate">
                    {% if slide.title %}<h1 class="mb-4 text-light">{{slide.title}}</h1>{% endif %}
                    {% if slide.subtitle %}<h2 class="mb-4 text-light">{{slide.subtitle}}</h2>{% endif %}
                </div>
                <div class="col">
                    <img src="{% static 'core/images/logo.png' %}">
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div> {% endcomment %}


{% addtoblock "css" %}<link rel="stylesheet" href="{% static 'core/scripts/flexslider/flexslider.css' %}">{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'core/scripts/flexslider/jquery.flexslider-min.js' %}"></script>{% endaddtoblock %}

<div class="section-empty no-paddings">
    <div class="section-slider row-18">
        <div class="flexslider advanced-slider slider" data-options="animation:fade">
            <ul class="slides">
                {% for plugin in instance.child_plugin_instances %}
                    {% render_plugin plugin %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
