{% load static cms_tags sekizai_tags menu_tags %}

{% comment %} {% addtoblock "js" %}<script src="{% static 'core/scripts/parallax.min.js' %}"></script>{% endaddtoblock %} {% endcomment %}

<div class="breadcrumbs header-base" 
    data-parallax="scroll" 
    data-position="top" 
    data-natural-height="375"
    data-natural-width="938" 
    data-image-src="{% static 'core/template-images/sport_3.jpg' %}"
    >
    {% comment %} <div class="overlay" style="position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: #fff;
        opacity: .8;">
    </div> {% endcomment %}
    <div class="container">
            <div class="title-base">
                <hr class="anima" />
                <h1>
                    {% if instance and instance.title %}
                        {{ instance.title }}
                    {% comment %} {% elif page_title %}
                        {{ page_title }} {% endcomment %}
                    {% else %}
                        {% page_attribute "page_title" %}
                    {% endif %}
                </h1>
                {% comment %} <p>Все самое интересное из мира спорта в Кузбассе.</p> {% endcomment %}
                <hr class="space s" />
                <ol class="breadcrumb b">
                    {% show_breadcrumb 0 'breadcrumbs/breadcrumb.html' 0 %}
                </ol>
            </div>
            {% comment %} <ol class="breadcrumb b">
                {% show_breadcrumb 0 'core/breadcrumb.html' 0 %}
                <li><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li class="active">Vodafone India</li> {% endcomment %}
                {% comment %} {% if added_breadcrumbs %}
                    {% for bc in added_breadcrumbs %}
                    <li>
                        <a href="{{ bc.url }}">{{ bc.title }}</a> 
                        {% if not forloop.last %} 
                        <span class="separator">&raquo;</span>
                        {% endif %}
                    </li>
                    {% endfor %}
                {% endif %}
            </ol> {% endcomment %}
        </div>
    </div>
</div>