.news-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.news-item.not-published {
  background: #ffdbdb !important;
}
.news-item.too-early-to-publish .block-infos .block-data {
  background: #d5d100 !important;
}
#news-filter label {
    font-weight: inherit;
    width: 100%;
    cursor: pointer;
}
#news-filter input[type="radio"]:checked + label::before {
  content: "\f054";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  padding-right: 10px;
  color: var(--main-color-2);
}

#news-filter .tagbox span {
    color: var(--main-color) !important;
    background: none;
    font-weight: 500;
    border: 1px solid var(--main-color) !important;
    border-radius: 20px !important;
}