{% load i18n static sekizai_tags %}

						{% comment %} <div class="heading-section heading-section-white ftco-animate mb-5">
							<h2 class="mb-4">Request A Quote</h2>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</div> {% endcomment %}

{% if form %}
	<form action="." method="post" class="appointment-form ftco-animate">
        {% for field in form %}
			<div class="form-group">
            {% if  field.name != 'pd_agreement' and field.name != 'captcha' and field.name != 'accept_terms' %}
                <p{% if field.errors %} class="error"{% endif %}>
				<p>
                    {% comment %} {{ field.label_tag }} {% endcomment %}
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <span class="error_msg">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </p>
            {% endif %}
			</div>
        {% endfor %}

		{% if form.accept_terms %}
			{{ form.accept_terms }}
		{% endif %}

		{% if form.pd_agreement %}
			{{ form.pd_agreement }} {{ form.pd_agreement.label_tag }}
		{% endif %}

		{% if form.captcha %}
			{{ form.captcha }}
		{% endif %}

		<p>
			<input class="btn btn-secondary py-3 px-4 mt-2" type="submit"{% if contact.submit %} value="{{ contact.submit }}"{% endif %} />
		</p>
		
		{% csrf_token %}
	</form>

{% else %}
	{% comment %} {{ contact.thanks|safe }} {% endcomment %}
	<p><button class="btn btn-success" data-bs-target="#modal-message-sent-{{ contact.id }}" data-bs-toggle="modal" type="button">Сообщение успешно отправлено!</button></p>

	<div aria-hidden="false" aria-labelledby="staticBackdropLabel" class="modal fade in" data-bs-backdrop="static" data-bs-keyboard="false" id="modal-message-sent-{{ contact.id }}" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="staticBackdropLabel">Сообщение успешно отправлено</h1>
					<button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button></div>
				<div class="modal-body">

					{{ contact.thanks|safe }}

				</div>
				<div class="modal-footer justify-content-center">
					<button type="button" class="btn btn-success" data-bs-dismiss="modal">Хорошо</button>
				</div>
				</div>

			</div>
		</div>
	</div>
	{% addtoblock "js" %}
	<script>
	$(window).on('load', function() {
		$('#modal-message-sent-{{ contact.id }}').modal('show');
	});
	</script>
	{% endaddtoblock %}
{% comment %} 
	<div id="bottom-alert" class="alert alert-warning alert-dismissible fade"
	style="position: fixed; bottom: 15px; left: 0; right: 0; max-width: 360px; margin: 0 auto;">Уведомление внизу
	экрана!<button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>
	{% addtoblock "js" %}
	<script>
	document.addEventListener('DOMContentLoaded', () => {
		setTimeout(() => {
		document.querySelector('#bottom-alert').classList.add('show');
		}, 1000);
	});
	</script>
	{% endaddtoblock %} {% endcomment %}
{% endif %}
