.contact-container {
    padding-top: 30px;
    padding-bottom: 30px;
}
.form-control.checkbox {
    display: inline-block;
    width: 50px;
}
.checkbox-label {
    position: absolute;
    margin-left: 15px;
    margin-top: 10px;
}
.step-item {
    opacity: .4;
}
.step-item.active {
    opacity: 1;
}
ul.errorlist {
    list-style: none;
    color: #f00;
    padding: 5px 0px;
}